<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<!-- Styles -->
		<link rel='stylesheet prefetch' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
		<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400'>
		<link rel="stylesheet" href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css'>
		<link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- Scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="js/index.js"></script>

		<title>Acceso de usuarios</title>
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrap">
			<div class="toggle-overlay">
			</div>
			<div class="left">
				<div class="left-head">
					<div class="top-bar">
						<div class="overlay">
						</div>
						<a class="search" href="#"><span class="ion-search"></span></a>
						<a class="setting" href="#"><span class="ion-android-more-vertical"></span></a>
					</div>
					<div class="user-bar">
						<img src="https://www.gobiernodecanarias.org/gcc/img/logos/logo.gif">
						<p class="name">AgendaCultural</p>
					</div>
				</div>
				<div class="menu-list">
					<a href="index.html" title="home">Eventos</a>
					<a href="ver-espacio.html" title="home">Espacios</a>
					<a href="eventsValidation.html" title="home">Validar Eventos</a>
					<a href="new-event.html" title="home">Crear Eventos</a>
				</div>
			</div><!--Left//-->

			<div class="header">
				<!-- <a href="#" class="toggle-btn"><span class="ion-navicon-round"></span></a> -->
				<a href="index.html"><i class="fa fa-chevron-left"></i></a>
				<!-- <a href="#" class="notification dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i></a> -->
				<ul class="dropdown-menu dropdown-menu-right">
					<!-- <li><a href="login.html">acceso</a></li> -->
					<li><a href="#">salir</a></li>
				</ul>
				<!-- <a href="#" class="all"><span class="ion-android-search"></span></a> -->
			</div><!--header//-->
			<div class="header-All">
				<a class="active" href="#">
					<form>
						<button class="btn-success" type="submit">
						<i class="fa fa-search"></i>
						</button>
						<input type="text" class="txt" placeholder="Search..." />
					</form>
				</a>
			</div>
		</div>

		<!-- Body -->
		<div ng-app="app" class="main-login">
			<div class="title">
				<h1>Acceso de usuarios</h1>
			</div>

			<div class="login">
				<form ng-submit="formLoginValidation()" ng-controller="formController" method="post">
					<div class="form-group">
						<label class="control-label" for="url">Usuario:</label>
						<input type="text" class="form-control" id="input_user" ng-model="user" required/>
					</div>

					<div class="form-group">
						<label class="control-label" for="url">Contraseña:</label>
						<input type="password" class="form-control" id="input_pass" ng-model="pass" required/>
					</div>

					<div class="error-login-msg">
						<p>Error usuario o contraseña incorrecta.</p>
					</div>
					<button type="submit" class="btn btn-success" style="width: 100%;">Acceder</button>
				</form>
			
			</div>
			
			<div class="close-session">
				<p>Estás logueado como un usuario validador</p>
				<p><a href="#" onclick="closeSession();">Cerrar sesión</a></p>
			</div>
		
		</div>
		
		<script>
			var app = angular.module('app', []);
			var api = 'http://vps265793.ovh.net:3000/protectedapi/authenticate/';
			
			var cookie =  document.cookie;
			
			if ((getCookie("token") == null) || (getCookie("token") == "")){
				$('.login').css('display', 'block');
				$('.close-session').css('display', 'none');
			}else{
				$('.login').css('display', 'none');
				$('.close-session').css('display', 'block');
			}

			app.controller('formController', ['$scope', '$http', function($scope, $http) {
				$scope.formLoginValidation = function() {
					var data = JSON.stringify({
						"usuario" : $scope.user,
						"password" : $scope.pass
					});
					$http.post(api, data).
					success(function(response) {
						if (response.status == "success"){
							$('.error-login-msg').css("display","none");
							document.cookie = "token="+response.token;
							document.cookie = "i="+0;
							window.location.href = "eventsValidation.html";
						}else{
							console.log(response);
							$('#input_user').val('');
							$('#input_pass').val('');
							$('.error-login-msg').css("display","block");
						}
					}).error(function(response) {
						console.log(response);
					});
				}
			}]);
			
			function closeSession(){
				document.cookie = "token=";
				location.reload(true);
			}
		</script>
	</body>
</html>
