#main{
	margin: 3% 10%;
}

#formImg {
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
}

#formDescription {
	position: relative;
	float: left;
	width: 75%;
	padding-left: 2%;
}

#PlaceImg > img {
	width: 100%;
	height: auto;
}

.title{
	font-size: 26px;
}
.txtcontent{
	font-size: 14px;
}

/* @Media */

@media screen and (max-width: 650px){
	.title{
		font-size: 20px;
	}
	.txtcontent{
		font-size: 14px;
	}
}
@media screen and (max-width: 480px){
	.title{
		font-size: 16px;
	}
	.txtcontent{
		font-size: 12px;
	}
}
