/* Global CSS */

.login {
	margin-left: 10%;
	margin-right: 10%;
}

.main, #catlist{
	margin: 3% 3%;
}

h2 {
	text-align: center;
}

.title{
	text-align: center;
	margin-bottom: 10%;
}

.form > .img {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

.form > .img > img{
	/*width: 100%;
	height: auto;*/
	width: 60%;
	height: auto;
	margin-left: 18%;
}

.form > .description {
	position: relative;
	float: left;
	width: 100%;
}

.justifyText {
	text-align : justify;
}

.form {
	margin: 50px 5% 5% 5%;
}

.form > h3 {
	margin-top: 0px !important;
}

.validation{
	position: relative;
	float: left;
	padding: 10px;
}

.goright {
	float: right;
	margin-right: 4%;
}

.imglist {
	 width: 95px;
	 height: 100%;
}

.marginbot100 {
	margin-bottom: 100%;
}

#map {
 height: 400px;
 width: 100%;
}

.error-login-msg, .forbidden {
	display: none;
	text-align: center;
	color: red;
}
.forbidden{
	margin-top: 40%;
	vertical-align: middle;
}
.main-login, .main-events-validation {
	display: block;
}