/* Global CSS */

.main{
	margin: 3% 10%;
}

.title{
	text-align: center;
}

.form > .img {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

.form > .img > img{
	width: 100%;
	height: auto;
}

.form > .description {
	position: relative;
	float: left;
	width: 100%;
}

.justifyText {
	text-align : justify;
}

.form {
	margin: 50px 5% 5% 5%;
}

.form > h3 {
	margin-top: 0px !important;
}

.validation{ 
	position: relative;
	float: left;
	padding: 10px; 
}