.ocul {
  display:none;
}

.vis {
  display:block;
}

.itemEvent, .mapEvent {
  max-width: 290px;
  max-height: 180px;
  width: 290px;
  height: 180px;
  border: solid 0.5px;
  margin-left: 14%;
  object-fit: cover;
}
